
setuptools==74.1.2
wheel==0.44.0
twine==5.1.1
build==1.2.2


# following is strictly for maintenance purposes
buildlackey>=1.6.3
html-testRunner~=1.2.1
mypy==1.11.2

codeallybasic>=1.4.0
networkx>=3.3
matplotlib>=3.9.2
